body{
    color: green;
}
.mylist{
    /* list-style: none; */
    color: brown;
/* }
.mylist li{
    list-style: none;
    color: rgb(252, 195, 195);\
    margin:5px; */
}
ul{
    color: hotpink;
}
/* #myid{
    color:lightblue;
} */
.mylist.list{
    color:green;
}
.mylist .css{
    color :blue;

}
.mylist li:nth-of-type(3) {
    color: greenyellow;
}
body p.css{
    font-size: 30px;
}
ul,
ol{display: inline-block;
}