
.div1,
.div2,
.div3 {
    display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;

}

.div1 {
  background-color: darkmagenta;
z-index: 1;

}

.div2 {
  background-color: darkslateblue;

}

.div3 {
  background-color: firebrick;
}

.div1 div {
    width: 30px;
    height: 30px;
    background-color: forestgreen;
}